<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<% @student.teachers.each do |teacher|%>
  <p>
    <strong>teacher :</strong>
    <%= teacher.name %>
  </p>

  <% end%>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
